<!--
  Name: Eisha Aqeel, Angelica Kusik
  Last Updated: April 17, 2023
  Description: Portfolio Project About Us page
-->
<section id="about-section">
    <div id="about-main-col" class="container">

      <!--Title will be from index.js-->

      <div class="row my-5 pb-5">
        <div class="col-md-5 offset-md-1 p-3">
            <div id="about-card1" class="card h-100"><img class="img-fluid rounded-circle w-50 mb-3" src="images/EishaPic.jpg" alt="Eisha Aqeel Profile Pic">
                <div class="card-body text-center">
                <h3 class="card-title">Eisha Aqeel</h3>
                <h5 class="text-muted text-center">Full Stack Developer</h5>
                <p class="card-text text-start">Hello, my name is Eisha, and I am in my second year of studying Computer Programming and Analysis at Durham College. I am passionate about software and database development. Currently, I am looking for opportunities to use my skills to build real-world applications. Check out my resume below; I would be happy to intern for you this summer.</p>
                <a class="btn btn-outline-primary m-4 btn-lg" href="Resume/Eisha_Resume.pdf">
                    <i class="fa-solid fa-ghost"></i> View Resume</a><div class="d-flex justify-content-center">
                    <div class="p-4"><a href="https://www.linkedin.com/in/eisha-aqeel/">
                    <i class="fa-brands fa-linkedin"></i>
                </a></div><div class="p-4"><a href="https://github.com/eishaaqeel/eishaaqeel.github.io/"><i class="fa-brands fa-square-github"></i></a></div></div></div>
            </div>
        </div>

        <div class="col-md-5 p-3">
            <div id="about-card2" class="card h-100"><img class="img-fluid rounded-circle w-50 mb-3" src="images/AngelicaPic.jpg" alt="Angelica Kusik Profile Pic">
                <div class="card-body text-center">
                <h3 class="card-title">Angelica Kusik</h3>
                <h5 class="text-muted text-center">Full Stack Developer</h5>
                <p class="card-text text-start">Hi! My name is Angelica Kusik and I am a computer programming student at Durham College, soon to graduate. I am excited to further my career in the software development industry and am actively seeking job opportunities in this field. I am confident that my experience, both in academia and in the workforce, will make me a valuable asset to any company. I am eager to continue learning and growing as a developer and am excited to see where my passion for technology will take me.</p>
                <a class="btn btn-outline-primary m-4 btn-lg" href="Resume/angelicaKusikGeneralResume.pdf">
                    <i class="fa-solid fa-ghost"></i> View Resume</a><div class="d-flex justify-content-center">
                    <div class="p-4"><a href="https://www.linkedin.com/in/angelica-kusik/">
                    <i class="fa-brands fa-linkedin"></i>
                </a></div><div class="p-4"><a href="https://github.com/AngelKusik"><i class="fa-brands fa-square-github"></i></a></div></div></div>
            </div>
        </div>

      </div>
    </div>
  </section>