<!--
  Name: Eisha Aqeel, Angelica Kusik
  Last Updated: April 17, 2023
  Description: Portfolio Project Home page
-->
<section id="home-section">
  <div class="dark-overlay text-white">
    <div class="container home-inner">
      <div class="row">
        <div id="home-left-col" class="col-lg-7 text-center">
          <!-- Mission statement -->
          <h1 class="mt-5 pt-5 display-1">Building the Future</h1>
          <h4 class="mt-4">One line of code at a time</h4>
          <!-- Welcome message -->
          <p class="lead mt-3">Hi! We are two computer programming students keen to use our skills to build modern web applications for your company that will help you wow your clients and drive more business.</p>
          <!-- Link to About Us page -->
          <a class="btn btn-outline-success btn-lg text-white" href="/about">Learn More</a></div>
        <div id="home-right-col" class="col-lg-5 p-3 mt-5">
          <img src="images/akea_tech.png" alt="AKEA Tech logo" ></div>
      </div>
    </div>
  </div>
</section>