<%- include('../components/header') %>

<main>
  <h1>Welcome to My Portfolio</h1> <!-- Welcome message -->
  <p>Mission Statement</p> <!-- Mission statement -->
  <a href="/about">About Me</a> <!-- Link to About Me page -->
  <!-- Add other links or buttons for other pages here -->
</main>
  

  <!-- Footer Section -->
  <%- include('../components/footer') %>
