<%- include('../components/header') %>

  <main class="container">

    <h1 class="mt-5">Login Page</h1>
    <form action="/login" method="POST">
      <!-- Add your login form fields here, e.g. email and password inputs -->
      <input type="username" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Login</button>
    </form>
    
    <p>Don't have an account? <a href="/register">Register</a></p> 
  </main>
  

  <!-- Footer Section -->
  <%- include('../components/footer') %>


