<!--
  Name: Eisha Aqeel, Angelica Kusik
  Last Updated: April 17, 2023
  Description: Portfolio Project Home page
-->
<!-- Display validation errors -->
<% if (error != null) { %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
<% } %>

<!-- Display logout message-->
<% if (msg && msg !== '') { %>
  <div class="alert alert-success" role="alert">
    You have been successfully logged out.
  </div>
<% } %>

<section id="login-section">
  <div id="contact-main-col" class="container">
    <form action="/login" method="POST" name="loginForm" class="col-lg-6 col-md-10 col-sm-10 mb-5 pb-5">
      <div class="input-group mb-3">
        <span class="input-group-text">Username</span>
        <input type="username" name="username" placeholder="Username">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Password</span>
        <input type="password" name="password" placeholder="Password">
      </div>
      <button id="submitButton" type="submit"><i class="fas fa-envelope fa-lg" aria-hidden="true"></i> Login</button>
    </form>
    
    <p>Don't have an account? <a href="/register">Register</a></p>
  </div>
 

</section>
