<!--
  Name: Eisha Aqeel, Angelica Kusik
  Last Updated: April 17, 2023
  Description: Portfolio Project Home page
-->
<!-- Display validation errors -->
<% if (error != null) { %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
<% } %>

<!-- Display logout message-->
<% if (msg && msg !== '') { %>
  <div class="alert alert-success" role="alert">
    You have been successfully logged out.
  </div>
<% } %>


<form action="/login" method="POST">
  <!-- Add your login form fields here, e.g. email and password inputs -->
  <input type="username" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="/register">Register</a></p>