<!--
  Name: Eisha Aqeel, Angelica Kusik
  Last Updated: April 17, 2023
  Description: Portfolio Project - some of our projects are displayed on this page
-->
<section id="projects-section">
    <div id="projects-main-col" class="container">
      <div class="row my-5 pb-5">

          <div class="col-md-4 p-3">
              <div id="card1" class="card h-100"><img class="card-img-top card-image-size" src="images/EishaWebd3201.png" alt="Eisha's Webd 3201 Project Dashboard Page">
                  <div class="card-body">
                    <h5 class="card-title">Eisha's Web Development Project</h5>
                    <p class="card-text">This is a web application meant for a business that needs  a website where employees can access and manipulate customer information. The application connects to a Postgres database  and implements security best practices such as password hashing, prepared statements, and more.</p>
                </div>
              </div>
          </div>

          <div class="col-md-4 p-3">
              <div id="card2" class="card h-100"><img class="card-img-top card-image-size" src="images/AngelicaTinDogProject.jpg" alt="Angelica's TinDog Summer Project">
                  <div class="card-body">
                    <h5 class="card-title">Angelica's TinDog Project</h5>
                    <p class="card-text">TinDog Project is a responsive web application developed as a summer project for a fictitious startup that wanted to promote their new product - a Tinder for dogs! This application implements a responsive layout using Bootstrap and custom CSS and looks great on any screen.</p>
                </div>
              </div>
          </div>

          <div class="col-md-4 p-3">
              <div id="card3" class="card h-100"><img class="card-img-top card-image-size" src="images/AngelicaWPFapplication.jpg" alt=".Net WPF Payroll Calculator">
                  <div class="card-body">
                    <h5 class="card-title">Payroll Calculator Web Application</h5>
                    <p class="card-text">Payroll Calculator was a .Net development project we worked on where we created a complete ASP .NET MVC (Model View Controller) web application also using C# and Bootstrap. This application allows you to calculate different employees' payrolls and store and edit their data.</p>
                </div>
              </div>
          </div>

      </div>
    </div>
  </section>