<%- include('../components/header') %>

<main>
  <h1>Services</h1>
  <ul>
    <li>General Programming</li>
    <li>Web Development</li>
    <li>Mobile Apps</li>
    <!-- Add other services here -->
  </ul>
  <!-- Add images or other content to make the services list more appealing -->
</main>

  <!-- Footer Section -->
  <%- include('../components/footer') %>
