<!--
  Name: Eisha Aqeel, Angelica Kusik
  Last Updated: April 17, 2023
  Description: Portfolio Project - some of our services are displayed on this page
-->
<section id="services-section">
  <div id="services-main-col" class="container">
      <div class="row my-5 pb-5">

          <div class="col-md-4 p-3">
              <div id="service1" class="card h-100"><img class="card-img-top card-image-size" src="images/frontendDev.png" alt="Service 1 - Frontend Development">
                  <div class="card-body">
                      <h5 class="card-title">Frontend Development</h5>
                      <p class="card-text">We offer front-end development using HTML5, CSS3, JavaScript, and more. With our front-end development, your website will look stunning.</p>
                  </div>
              </div>
          </div>

          <div class="col-md-4 p-3">
              <div id="service2" class="card h-100"><img class="card-img-top card-image-size" src="images/backendDev.png" alt="Service 2 - Backend Development">
                  <div class="card-body">
                      <h5 class="card-title">Backend Development</h5>
                      <p class="card-text">We offer backend development using the most in-demand programming languages such as Python, Java, and PHP. We also use PostgreSQL to give your data a safe home. With our backend development, your website will function smoothly.</p>
                  </div>
              </div>
          </div>

          <div class="col-md-4 p-3">
              <div id="service3" class="card h-100"><img class="card-img-top card-image-size" src="images/softwareTesting.png" alt="Service 3 - Software Testing">
                  <div class="card-body">
                      <h5 class="card-title">Software Testing</h5>
                      <p class="card-text">We can perform unit tests, functional tests, and performance tests, so your website has no issues in the future.</p>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>