  <!-- Include header & navbar -->
  <%- include('./components/header') %>


  <!--Main Section -->
  <main class="container mt-5">
    <h1><%= title %></h1>
    <%- include('./content/' + page) %>
  </main>

  <!-- Footer Section -->
  <%- include('./components/footer') %>